<!-- <h1>Welcome to Angular Framework</h1>
<hr>
<!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos voluptatem autem qui quibusdam necessitatibus id asperiores consequuntur, eveniet quidem, illum illo accusantium, doloribus expedita atque recusandae! Iste laborum laudantium magni.</p>


<img src="assets/image-1.jfif" alt=""> -->

<!-- <div class="text-center">
    <h1>{{nameOfCourse}} <span class="text-danger">{{version}}</span></h1>
    <h2 class="text-warning">{{instructor}}</h2>

    <h2>Course Details</h2>
    <h3>{{courseDetails.duration}}</h3>
    <h3>{{courseDetails.modeOfTraining}}</h3>
    
    <img src={{imagePath}} alt=""> <!--Interpolation-->
    <!-- <img [src]=imagePath alt=""> <!--propery binding-->

    <!-- <input type="text" value={{nameOfCourse}}>

    <!-- difference between interpolation and property binding-->
    <!-- <button class="btn btn-success" disabled = {{status}}>click me</button>
    <button class="btn btn-success" [disabled] = status>click me</button>


    <div>
    <input type="text" name="" id="" class="form-control mt-5" #ref>
    <button class="btn btn-primary" (click) = "sendData(ref.value)" >Send data</button>

    <h1>{{data}}</h1>
    </div>
</div>  --> 


<!-- 
<div class="text-center">
    <button class="btn btn-success mt-3"  (click) = "changeStatus()">{{status ? "Hide" : "Show"}}</button>
    <h1 *ngIf = "status">Welcome</h1>
    

    <h2 *ngFor = "let v of arr">{{v}}</h2>
    <ul>
        <li *ngFor = "let x of arr">{{x}}</li>
    </ul>
</div> -->

<!-- <div>
    <label for="nn">Enter name</label>
    <input type="text" name="" id="nn" class="form-control w-50" #ref>
    <button class="btn btn-warning" (click) = "addName(ref.value); ref.value=''">Add name</button>
    <h1>List of names</h1>
    <h1 class="text-center">-----------------</h1>


    <hr>
    <h2 *ngIf = "a.length == 0" class="text-center">No items found!!!</h2>
    <h1 *ngFor = "let v of a ; let ind = index">{{v}}
        <button class="btn btn-sm  btn-danger" (click) = "deleteName(ind)"><i class="far fa-trash-alt"></i></button>
    </h1>
</div>
 -->


 <!--Two way data binding-->
<!-- <div>
    <label for="nn">Enter name</label>
    <input type="text" name="" id="nn" class="form-control w-50" [(ngModel)] = "item">
    <button class="btn btn-warning" (click) = "addName()">Add name</button>
    <h1>List of names</h1>
    <h1 class="text-center">-----------------</h1>


    <hr>
    <h2 *ngIf = "a.length == 0" class="text-center">No items found!!!</h2>
    <h1 *ngFor = "let v of a ; let ind = index">{{v}}
        <button class="btn btn-sm  btn-danger" (click) = "deleteName(ind)"><i class="far fa-trash-alt"></i></button>
    </h1>
</div> -->



<!-- <br><br><br><br> -->

<!--User registration form-->

<!-- <div class="mx-auto mt-5" style="max-width: 700px;">
    <h1 class="text-center heading">
        User Registration Form
    </h1>


    <form #ref = "ngForm" (ngSubmit) = "addUserData(ref)">
        <div>
            <label for="un" class="form-label">UserName</label>
            <input type="text" name="Username" id="un" class="form-control" ngModel>
        </div>
        <div>
            <label for="pw" class="form-label">Password</label>
            <input type="password" name="Password" id="pw" class="form-control" ngModel>
        </div>
        <div>
            <label for="dob" class="form-label">DateOfBirth</label>
            <input type="date" name="dob" id="dob" class="form-control" ngModel>
        </div>
        <div>
            <label for="em" class="form-label">E-mail</label>
            <input type="email" name="email" id="em" class="form-control" ngModel>
        </div>
        <button type="submit" class="btn d-block mx-auto m-3">Register</button>
    </form>

<div class="text-center">
    <h2 class="text-info">List of Registered Users Details</h2>

    <h1 *ngIf = "users.length == 0">No Users Found!!!</h1>
    <div *ngIf = "users.length != 0">
        <table>
            <tr>
                <th>UserName</th>
                <th>Date Of birth</th>
                <th>E-mail</th>
            </tr>
            <tbody>
                <tr *ngFor = "let userObj of users">
                    <td>{{userObj.Username}}</td>
                    <td>{{userObj.dob}}</td>
                    <td>{{userObj.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
</div> -->

<!-- Session-23 May-3 -->

<!-- User Registration form using two way data binding -->


<!-- <div class="mx-auto mt-5" style="max-width: 700px;">
    <h1 class="text-center heading">
        User Registration Form
    </h1>


    <form #ref = "ngForm" (ngSubmit) = "addUserData()">
        <div>
            <label for="un" class="form-label">UserName</label>
            <input type="text" name="username" id="un" class="form-control" [(ngModel)] = "userObj.username" >
        </div>
        <div>
            <label for="pw" class="form-label">Password</label>
            <input type="password" name="password" id="pw" class="form-control" [(ngModel)] = "userObj.password">
        </div>
        <div>
            <label for="dob" class="form-label">DateOfBirth</label>
            <input type="date" name="dob" id="dob" class="form-control" [(ngModel)] = "userObj.dob">
        </div>
        <div>
            <label for="em" class="form-label">E-mail</label>
            <input type="email" name="email" id="em" class="form-control" [(ngModel)] = "userObj.email">
        </div>
        <button type="submit" class="btn d-block mx-auto m-3">Register</button>
    </form>

<div class="text-center">
    <h2 class="text-info">List of Registered Users Details</h2>

    <h1 *ngIf = "users.length == 0">No Users Found!!!</h1>
    <div *ngIf = "users.length != 0">
        <table>
            <tr>
                <th>UserName</th>
                <th>Date Of birth</th>
                <th>E-mail</th>
            </tr>
            <tbody>
                <tr *ngFor = "let userObj of users">
                    <td>{{userObj.username}}</td>
                    <td>{{userObj.dob}}</td>
                    <td>{{userObj.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
</div> -->










<div class="container">
    <h1 class="text-center bg-primary">User Management System Hello</h1>
    <div class="row">
        <div class="col-sm-6">
            <!-- Nest user registration component -->
            <app-user-registration></app-user-registration>
        </div>
        <div class="col-sm-6">
            <app-user-list></app-user-list>
        </div>
    </div>
</div>